.thumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  p {
    padding: 10px 5px !important;
    width: 160px;
    // height: 100%;
    background-color: #efefef;
    margin: 5px 3px;
    display: flex;
    justify-content: center;
    font-size: clamp(13px, 1.5vw, 15px);
    // align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  .thumb {
    .p {

    }
  }
}