header {
  // width: 100vw;
  // min-height: 100px;
  // overflow: hidden;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  // flex-wrap: wrap;
  // border-bottom: 1px solid #ccc;
  // margin-bottom: 20px;
  // background-color: #000000 !important;
  // background-color: #fff;
  
  
  .header__container {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #000000 !important;
    height: 50% !important;
    padding: 20px 10px;
    color: white !important;

    button {
      .navbar-toggler-icon {
        color: white !important;
        // background-color: white !important;
        // border-radius: 50%;
        background-image: url('https://cdn-icons-png.flaticon.com/512/812/812847.png');
        // background-image: url('https://cdn-icons-png.flaticon.com/512/248/248926.png');
      }
    }
    .header__toggle {
      color: rgb(205, 4, 4) !important;
      // padding:  90px;
      // border: 10px solid white;
      font-size: 1.5rem;
      border: none;
      outline: none;
      &:focus {
        border: none;
        outline: none;
      }
      
      navbar-toggler {
        collapsed {
          color: white !important;
        }
      }

    }

    .logo__link {
      color: rgb(206, 81, 81) !important;
      height: 600px;
      padding: 10px;
      font-size: 1.9em;
      font-weight: 700;
      span:nth-child(1) {
        color: white;
      }
      span:nth-child(2) {}
      span:nth-child(3) {}

      &:hover {
        text-decoration: none;
      }

      img {
        background-size: center;
        object-fit: cover;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
      }
    }
  }

  .header__toggle {
    .navbar-toggler-icon {
      color: white !important;
    }
  }

  .header__collapse {
    color: white !important;

    .mr-auto {
      color: white !important;

      .header__link {
        .header__links {
          color: white !important;
          font-size: 20px;
          letter-spacing: 1px !important;

          .header__link {
            nav-link {
              color: white !important;

            }

          }

        }
      }

      .header__dropdown {
        color: white !important;
        font-size: 20px;
        margin: 0px !important;
        padding: 0px !important;
          // width: 100%;

        

        .dropdown-toggle {
          letter-spacing: 1px !important;
          color: white !important;
          width: 100%;

          nav-link {}
        }

        .dropdown-menu {
          background-color: #000000 !important;
          border: 1px solid white !important;
          // width: 100%;
          
          show {
            // background-color: #d71345 !important;
            
          }
        }
        
        .header__dropdown-links {
          padding: 10px !important;
          height: 100%;
          // width: 100%;
          background-color: #000000 !important;
          color: rgb(255, 255, 255) !important;
          font-weight: 600;
          // margin: 20px 0px;
          // padding: 40px 20px;
          border-radius: 0%;
        }
      }
    }

    .header__bottom {
      .header__bottom-link {
        .header__bottom-links {
          color: white !important;
          font-size: 20px;
          letter-spacing: 1px !important;
        }
      }
    }
  }





  .logo {
    .logo__link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;

      img {
        background-size: center;
        object-fit: cover;
        background-repeat: no-repeat;
        width: 200px;
      }

      p:nth-child(1) {}

      p:nth-child(2) {
        margin-right: -23px;
        margin-top: 20px;

      }

      p:nth-child(3) {}
    }
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  letter-spacing: 2px;
}

a:hover {
  color: lightseagreen;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}

.menu {
  display: none;
}

.cart-icon {
  position: relative;
  margin-right: 15px;
}

.cart-icon span {
  background: crimson;
  border-radius: 20px;
  color: white;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 10px;
  padding: 5px;
}