.products {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 15px 0;
  // margin-top: 100px;
  margin-bottom: 100px;

  .card {
    margin: 5px 0px;

    .box-container {
      margin-left: 1px;

      .box-product {
        // border-bottom: 5px solid #e6e6e6;
        display: flex;
        flex-direction: column;

        .box-product-name {
          padding-top: 10px;

          .box-product-year {
            .box-product-year-name {
              letter-spacing: -0.05em;
            }
          }

          .box-product-make {

            // padding-left: 10px;
            // height: 60px;
            .box-product-make-name {
              letter-spacing: -0.05em;

            }
          }
        }

        .box-product-model {
          // background-color: green;
          // height: 200px;
          margin-top: -5px;

          .box-product-model-name {
            // position: absolute;
            color: red;
            font-weight: bold;
            font-size: 30px;
            letter-spacing: -0.05em;
            // padding-top: -300px;

          }
        }
      }

      .box-price {
        border-top: 3px solid #000000;
        display: flex;
        align-items: center;
        // padding: 0px 0px;
        padding-top: 10px;

        p {
          font-weight: 600;
        }

        h4 {
          padding-left: 10px;
        }
      }
    }
  }
}

.products .card {
  max-width: 370px;
  width: 100%;
  overflow: hidden;
  // height: 570px;
  height: 100%;
  // box-shadow: 0 0 5px #ccc;
  padding: 15px;
  // margin: 15px;
  // margin: 0px 10px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  max-height: 340px;
  display: block;
  object-fit: cover;
}

.card .box {
  margin: 15px 0;
  height: 100%;
}

.card .box h3 {
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card .box p {
  margin: 10px 0;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 70px;
}

.card .box h4 {
  color: crimson;
}

.card .box button {
  width: 100%;
  border: none;
  outline: none;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}